.m-exhightop{
  margin-top: 64px;
}
@media screen and (min-width:768px){
  .m-exhightop{
    margin-top: 120px;
  }
}

.header{
 background-color:#fd5068;
 position:fixed;
 top:0;
 left:0;
 width:100%;
 z-index:100;
//  ハンバーガーメニュー
 .home_icon{
   max-height:48px;
 }
 .hamburgeranime,
 .hamburgeranime span {
   display: inline-block;
   transition: all .4s;
   box-sizing: border-box;
 }
 .hamburgeranime {
   position: relative;
   width: 32px;
   height: 24px;
   background-color: transparent;
   border:0;
 }
 .hamburgeranime span {
   position: absolute;
   left: 0;
   width: 100%;
   height: 4px;
   background-color: #fafafa;
 }
 .hamburgeranime span.first {
   top: 0;
 }
 .hamburgeranime span.second {
   top: 10px;
 }
 .hamburgeranime span.third {
   bottom: 0;
 }
 .hamburgeranime.active span.first {
   -webkit-transform: translateY(12px) rotate(-45deg);
   transform: translateY(12px) rotate(-45deg);
 }
 .hamburgeranime.active span.second {
   opacity: 0;
 }
 .hamburgeranime.active span.third {
   -webkit-transform: translateY(-8px) rotate(45deg);
   transform: translateY(-8px) rotate(45deg);
 }
 .gnavi-contents{
   display:block;
   padding:0.5% 2.5%;
  .list_none {
    list-style: none;
    a.btn{
      color:#fd5068;
    }
  }
 }
 @media screen and (max-width:767px){
   .gnavi-contents{
     display:none;
   }
 }
 @media screen and (min-width:768px){
  .fas.fa-user::before,
  .hamburgeranime,
  .hamburgeranime span {
    display: none;
  }
  
 }
}
