.userListPage{
    .image-circle {
        width: 20vh;
        height: 20vh;
        min-width:128px;
        min-height:128px;
        max-width:295px;
        max-height:295px;
        object-fit:cover;
        border-radius:50%;
        box-sizing: border-box;
        border: 3px solid #ccc;
        position: relative;
        z-index: 99;
    }

    .list_title {
        position: relative;
        padding: 0.25em 0;
    }
    .list_title:after {
        content: "";
        display: block;
        height: 4px;
        background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
        background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
    }

    .under {
        margin-bottom: -16px;
    }


}
