// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "top";
@import "sign_up";
@import "sign_in";
@import "show";
@import "edit";
@import "jTinder";
@import "matching";
@import "chat";

.header{
  position:fixed;
  width:100%;
  top:0;
  left:0;
    ul{
      display:flex;
      flex-wrap: wrap;
      align-items:center;
      justify-content: space-around;
      .hamburgeranime,
      .hamburgeranime span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
      }
      .hamburgeranime {
        position: relative;
        width: 44px;
        height: 38px;
        background-color: transparent;
        border:0;
      }
      .hamburgeranime span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #666666;
        /* border-radius: px; */
      }
      .hamburgeranime span.first {
        top: 0;
      }
      .hamburgeranime span.second {
        top: 18px;
      }
      .hamburgeranime span.third {
        bottom: 0;
      }
      .hamburgeranime.active span.first {
        -webkit-transform: translateY(18px) rotate(-45deg);
        transform: translateY(18px) rotate(-45deg);
      }
      .hamburgeranime.active span.second {
        opacity: 0;
      }
      .hamburgeranime.active span.third {
        -webkit-transform: translateY(-16px) rotate(45deg);
        transform: translateY(-16px) rotate(45deg);
      }
    
  }
}